root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.vue]
indent_size = 2

[*.yml]
indent_size = 2

[*.json]
indent_size = 2

[*.php]
indent_size = 4
ij_php_keep_blank_lines_in_declarations = 1
ij_php_keep_blank_lines_in_code = 1
ij_php_keep_blank_lines_after_lbrace = 0
ij_php_keep_blank_lines_before_right_brace = 0
ij_php_blank_lines_after_opening_tag = 1
ij_php_blank_lines_around_class = 1
ij_php_blank_lines_after_class_header = 0
ij_php_blank_lines_before_class_end = 0
ij_php_blank_lines_around_field = 0
ij_php_blank_lines_around_method = 1
ij_php_blank_lines_before_method_body = 0
ij_php_blank_lines_before_return_statement = 0
ij_php_blank_lines_around_constants = 0
ij_php_blank_lines_after_function = 1
ij_php_space_before_colon_in_return_type = true

[*.{js, jsx, ts, tsx, scss, css, sass}]
indent_size = 2
ij_javascript_space_before_function_left_parenth = true
ij_typescript_space_before_function_left_parenth = true
