{% block setup %}
    {{ '{"other": {"margin-top": "40", "margin-left": "20","margin-right": "20", "margin-bottom": "30" }}' }}
{% endblock %}
{% block header %}
    <!DOCTYPE html>
    <html lang="de">
    <head>
        <title></title>
        <style>
            .top_main {
                width: 100%;
                position: relative;
                height: 38mm;
            }
            .section_top_left {
                position: absolute;
                width: 55%;
            }
            .section_top_right {
                background-color: grey;
                position: absolute;
                right: 1mm;
                height: 38mm;
                border-radius:2mm;

            }
            .class_sauerland{
                padding-top:5mm;
                font-size:20px;
                text-align:center;
                text-transform: uppercase;
            }
            .section_top_right_details{
                margin-left:10px;
                font-size:18px;
            }
            .section_top_right_icons{
                color:green;

            }

        </style>
    </head>
    <body>
        <section class="top_main">
        <section class="section_top_left"></section>
        <section class="section_top_right">
            <div class="class_sauerland">Bwa Sauerland gmbh </div>
            <div class="section_top_right_details">
            <span class="section_top_right_icons" style="font-size:16px">&#127760</span> Peter-Dassis-Ring 40a, 57482 Wenden
            <br />
            <span class="section_top_right_icons" style="font-size:16px">&#128222</span> 02762-98 19 499
            <br />
            <span class="section_top_right_icons"style="font-size:20px" > &#x2709</span> info@bwa-sauerland.de
        </section>
        </section>
    </body>
    </html>
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <title>Offer</title>
    <style>
        body {
            font-family: 'TeX Gyre Heros', 'sans-serif';
            font-size: 13px;
        }
        .full-block {
            text-align: left;
            display:inline-block;
            width: 100%;
            margin-top: 1rem;
        }
        .left-block  {
            width: 48%;
            display: inline-block;
            text-align: left;
        }
        .right-block  {
            width: 50%;
            display: inline-block;
            text-align: left;
        }
        .hr-gap {
            margin-top: 1rem;
        }
        .hr-gap-2x {
            margin-top: 2rem;
        }
        .left-block, .right-block {
            font-size: 14px;
        }
        .customer-detail-section-table, .project-detail-section-table {
            border-collapse: collapse;
            width: 100%;
        }
        .customer-detail-section-table td, .customer-detail-section-table th, .project-detail-section-table td, .project-detail-section-table th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align:left;
        }
        .left-small-block, .center-small-block, .right-small-block {
            width: 33%;
            display: inline-block;
            text-align:left;
        }
      
    </style>
  </head>

  <body>
    <div class="full-block">
        <h2>Arbeitsnachweis zum Auftrag</h2>
    </div>
    <div class="left-block">
        <div>Eigenturmer/Verwaltung</div>
        <div class="hr-gap"></div>
        <div>Name: Kron/D.I.S</div>
    </div>
    <div class="right-block">
        <div>Meiter/Objekt</div>
        <div class="hr-gap"></div>
        <div>Name: </div>
    </div>
    <div class="hr-gap"></div>
    <div class="table-section">
        <table class="customer-detail-section-table">
            <tr>
                <td>Str. Nr.:</td>
                <td>Str. Nr.:</td>
            </tr>
            <tr>
                <td>PLZ,Ort:</td>
                <td>Ort:</td>
            </tr>
            <tr>
                <td>Tel.:</td>
                <td>Tel.:</td>
            </tr>
            <tr>
                <td>Mobil:</td>
                <td>Mobil:</td>
            </tr>
            <tr>
                <td>E-Mail:</td>
                <td>E-Mail:</td>
            </tr>
            <tr>
                <td>EFH/DHH/RH/freistehend</td>
                <td>EFH/DHH/RH/freistehend</td>
            </tr>
        </table>
    </div>

    <div class="hr-gap"></div>

    <div class="table-section">
        <table class="project-detail-section-table">
            <tr>
                <th>Horizontal</th>
                <th>Lfm.</th>
                <th>Wandmaterial</th>
                <th>Wand cm</th>
                <th>Fläche</th>
                <th>Aufmaß m<sup>2</sup></th>
                <th>Wandmaterial</th>
            </tr>
            <tr>
                <td>HZ-250 Pro</td>
                <td></td>
                <td></td>
                <td></td>
                <td>KS-Platten</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>HZ-250 Pro</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Putz entfernen</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Dichtband</td>
                <td></td>
                <td></td>
                <td></td>
                <td>IG streichen</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Harz</td>
                <td></td>
                <td></td>
                <td></td>
                <td>VM</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="hr-gap"></div>

    <div class="table-section">
        <table class="project-detail-section-table">
            <tr>
                <td>HZ 250 PRO CHARGE</td>
                <td></td>
                <td>Mengeneinsatz Liter</td>
                <td></td>
            </tr>
            <tr>
                <td>HZ 250 PRO CHARGE</td>
                <td></td>
                <td>Mengeneinsatz Liter</td>
                <td></td>
            </tr>
            
        </table>
    </div>

    <div class="hr-gap"></div>
    
    <div class="table-section">
        <table class="project-detail-section-table">
            <tr>
                <th>Baustellen-Leitung</th>
                <th>Handwerker</th>
                <th>Arbeitsstunden</th>
                <th>BL Horizontal</th>
                <th>BL Fläche</th>
                <th>BL Druckwasser</th>
            </tr>
            <tr>
                <td>J. PreuB</td>
                <td>W. Missel</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </table>
    </div>
    
    <div class="hr-gap-2x"></div>
    <div class="left-block">
        <div>Arbeitsbeginn:</div>
        <div></div>
    </div>
    <div class="right-block">
        <div>Arbeitsende:</div>
        <div></div>
    </div>

    <div class="hr-gap-2x"></div>
    <div class="left-block">
        <div>Gummersbach, 14.11.2023</div>
    </div>
    
    <div class="hr-gap-2x"></div>
    <div class="left-small-block">
        <div>Ort, Datum</div>
    </div>
    <div class="center-small-block">
        <div>Bestätigung Auftraggeber</div>
    </div>
    <div class="right-small-block">
        <div>Baustelle sauber verlassen</div>
    </div>

  </body>
</html>


{% endblock %}
{% block footer %}
<!DOCTYPE html>
    <html lang="de">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <head>
        <title></title>
        <style>
            
        </style>
    </head>
    <body>
       
    </body>
    </html>
{% endblock %}
