/* Ant Brezel Fixes */
.ant-input-number-affix-wrapper { width:100% !important}
.field-type-select div:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.field-type-select div:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.field-type-select div button:last-child {
    border-top-right-radius: 5px !important; 
    border-bottom-right-radius: 5px !important;
}

.ant-btn-danger {
    background: #ff4d4f;
    border-color:#ff4d4f;
    color:white
}

/* Module Orders */
.orders .cell-status span {
    border-radius: 10px;
    padding: 2px 10px;
    margin:0px auto;
    min-width: 30px;
    text-align: center;
}

.orders .cell-status.cell-status-pending span {
    background: #FFA500;
    color: white;
}
.orders .cell-status.cell-status-processing span {
    background: #1E90FF;
    color: white;
}
.orders .cell-status.cell-status-shipped span {
    background: #4682B4;
    color: white;
}
.orders .cell-status.cell-status-delivered span {
    background: #32CD32;
    color: white;
}
.orders .cell-status.cell-status-cancelled span {
    background: #FF4500;
    color: white;
}
.orders .cell-status.cell-status-returned span {
    background: #8B0000;
    color: white;
}





